<div class="container mt-5">

  <div class="row stats-div">
    <div class="col-md-12 col-xs-12 ">
      <div class="row justify-content-center">
        <h1><strong>You have found the unicorn</strong></h1>
      </div>
      <div class="row justify-content-center">
        <img src="/assets/images/Unicorn-icon.png">
      </div>
      <div class="row justify-content-center">
        <h3>or it's 404 error. Click here to return to <a href="/dashboard">Site</a></h3>
      </div>
      
    </div>
  </div>
</div>