<link rel=" stylesheet" href="/assets/css/character.css">

<div class="container"></div>
<!--data-user="<%=user%>">Keep the data-user in this container need for suppling database-->
<div class="row header justify-content-center">
  <img src="/assets/images/logo.png" class="logo">
</div>
<div class="col col-md-2 text-md-right text-sm-center">
  <ul class="list-group">
    <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="dashboard"
        class="btn text-center btnText">Dashboard</button></li>
    <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="logout"
        class="btn text-center btnText">Logout</button></li>
  </ul>
</div>


<!--- Form Group for Character Name -->
<div class="form-group" id="characterAddMasterForm">
  <!-- FORM START-->
  <div class="row img-div justify-content-md-centers">
    <div class="col col-sm-6 col-md-2 text-center">
      <!-- Image URL to put in pic of character -->
      <img src="/assets/images/default.png" alt="" class="imgLogo">
    </div>
    <div class="col col-sm-6 col-md-6 text-center">
      <br>
      <h3></h3>
      <h3>Character Name</h3>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Input Name</span>
        </div>
        <textarea id="characterNameInput" class="form-control" aria-label="With textarea"></textarea>
        <div class="input-group-append">
          <button class="btn btn-warning" type="button" id="randomNameBtn">Randomize</button>
        </div>
      </div>
    </div>
    <!--Character Information-->
    <div class="col col-md-8 stats-div">
      <div class="row top-div">
        <div class="col col-md-3">
          <div><span id="className"></span></div>Class
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="classSelect">Classes</label>
          </div>
          <select class="custom-select" id="classSelect">
            <option selected>Choose...</option>
            <!-- ["Barbarian","Bard","Cleric","Druid","Fighter","Monk","Paladin","Ranger","Rogue","Sorcerer","Warlock","Wizard"] -->
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
            <option value="Wizard">Wizard</option>
          </select>
        </div>
      </div>

      <div class="row top-div">
        <div class="col col-md-3">
          <div><span id="race"></span></div>Race
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="raceSelect">Races</label>
          </div>
          <select class="custom-select" id="raceSelect">
            <option selected>Choose...</option>
            <!-- ["Dwarf","Elf","Halfling","Human","Dragonborn","Gnome","Half-Elf","Half-Orc","Tiefling"] -->
            <option value="Dragonborn">Dragonborn</option>
            <option value="Dwarf">Dwarf</option>
            <option value="Elf">Elf</option>
            <option value="Gnome">Gnome</option>
            <option value="Halfling">Halfling</option>
            <option value="Half-Elf">Half-Elf</option>
            <option value="Half-Orc">Half-Orc</option>
            <option value="Human">Human</option>
            <option value="Tiefling">Tiefling</option>
          </select>
        </div>
      </div>


      <div class="row top-div">
        <div class="col col-md-3">
          <div><span id="alignment"></span></div>Alignment
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="alignmentSelect">Options</label>
          </div>
          <select class="custom-select" id="alignmentSelect">
            <option selected>Choose...</option>
            <!-- ["Lawful Good","Neutral Good","Chaotic Good","Lawful Neutral","Neutral","Chaotic Neutral","Lawful Evil","Neutral Evil","Chaotic Evil"] -->
            <option value="Lawful-Good">Lawful-Good</option>
            <option value="Neutral-Good">Neutral-Good</option>
            <option value="Chaotic-Good">Chaotic-Good</option>
            <option value="Lawful-Neutral">Lawful-Neutral</option>
            <option value="Neutral">Neutral</option>
            <option value="Chaotic-Neutral">Chaotic-Neutral</option>
            <option value="Lawful-Evil">Lawful-Evil</option>
            <option value="Neutral-Evil">Neutral-Evil</option>
            <option value="Chaotic-Evil">Chaotic-Evil</option>
          </select>
        </div>
      </div>
      <div class="col col-md-3">
        <div><span id="faction"></span></div>Faction
        <input id="factionInput" type="text">
      </div>

      <div class="col col-md-3">
        <div><span id="experience"></span></div>Experience(Max 700,000)
        <input id="experienceInput" type="text">
      </div>

      <div class="col col-md-12">
        <div><span id="experience"></span></div>Wealth
        <div class="input-group">

          <div class="input-group-prepend">
            <span class="input-group-text">Copper</span>
          </div>
          <textarea id="copperInput" class="form-control" aria-label="With textarea"></textarea>

          <div class="input-group-prepend">
            <span class="input-group-text">Silver</span>
          </div>
          <textarea id="silverInput" class="form-control" aria-label="With textarea"></textarea>

          <div class="input-group-prepend">
            <span class="input-group-text">Electrum</span>
          </div>
          <textarea id="electrumInput" class="form-control" aria-label="With textarea"></textarea>

          <div class="input-group-prepend">
            <span class="input-group-text">Gold</span>
          </div>
          <textarea id="goldInput" class="form-control" aria-label="With textarea"></textarea>

          <div class="input-group-prepend">
            <span class="input-group-text">Platinum</span>
          </div>
          <textarea id="platinumInput" class="form-control" aria-label="With textarea"></textarea>
        </div>

      </div>
      <br>
      <div class="row text-center">
        <!--Stat Block area-->
        <div class="col col-md-3">
          <div id="stats" class="col col-md-12">
            <div class="stats-div">
              <div><span id="strength"></span></div>Strength<div class="circle-div"><span id="strAblMod"></span>
                <button id="statRoll">Roll the dice</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="strRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="strRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="strRollTotal" type="number">
                </div>
              </div>
            <br>

            <br>
            <div class="stats-div">
              <div><span id="dexterity"></span></div>Dexterity<div class="circle-div"><span id="dexAblMod"></span>
                <button id="statRoll">Roll the dice</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="dexRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="dexRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="dexRollTotal" type="number">
                </div>
              </div>
            <br>

            <br>
            <div class="stats-div">
              <div><span id="constitution"></span></div>Constitution<div class="circle-div"><span id="conAblMod"></span>
                <button id="statRoll">Roll the dice</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="conRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="conRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="conRollTotal" type="number">
                </div>
              </div>
            <br>

            <br>
            <div class="stats-div">
              <div><span id="intelligence"></span></div>Intelligence<div class="circle-div"><span id="intAblMod"></span>
                <button id="statRoll">Roll the dice</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="intRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="intRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="intRolltotal" type="number">
                </div>
              </div>
            <br>

            <br>
            <div class="stats-div">
              <div><span id="wisdom"></span></div>Wisdom<div class="circle-div"><span id="wisAblMod"></span></div>
              <button id="statRoll">Roll the dice</button>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="wisRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="wisRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="wisRolltotal" type="number">
                </div>
              </div>
            <br>

            <br>
            <div class="stats-div">
              <div><span id="charisma"></span></div>Charisma<div class="circle-div"><span id="charAblMod"></span>
                <button id="statRoll">Roll the dice</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Roll Results:</span>
                <input id="charRollResult" type="number">
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Modifier:</span>
                <input id="charRollmod" type="number">
              </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total:</span>
                  <input id="charRollTotal" type="number">
                </div>
              </div>
            <br>
          </div>
          <br>
        </div>
        <!-- Skills -->
        <div class="input-group col col-md-12">
          <div class="col col-md-8">
            <div class="row">
              <div class="col col-md-12">
                <br>
                <h3>Skills</h3><br>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6">
                <div>
                  <div id="acrobatics" class="underline">Acrobatics</div>
                  <input id="acrobaticsCheck" type="checkbox">
                  <input id="acrobaticsInput" type="number">
                </div>

                <div>
                  <div id="animalHandling" class="underline">Animal Handling</div>
                  <input id="animalHandlingCheck" type="checkbox">
                  <input id="animalHInput" type="number">
                </div>

                <div>
                  <div id="arcana" class="underline">Arcana</div>
                  <input id="arcanaCheck" type="checkbox">
                  <input id="arcanaInput" type="number">
                </div>

                <div>
                  <div id="athletics" class="underline">Athletics</div>
                  <input id="athleticsCheck" type="checkbox">
                  <input id="athleticsInput" type="number">
                </div>

                <div>
                  <div id="deception" class="underline">Deception</div>
                  <input id="deceptionCheck" type="checkbox">
                  <input id="deceptionInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="history" class="underline">History</div>
                  <input id="historyCheck" type="checkbox">
                  <input id="historyInput" type="number">
                </div>

                <div>
                  <div id="insight" class="underline">Insight</div>
                  <input id="insightCheck" type="checkbox">
                  <input id="insightInput" type="number">
                </div>

                <div>
                  <div id="intimidation" class="underline">Intimidation</div>
                  <input id="intimidationCheck" type="checkbox">
                  <input id="intimidationInput" type="number">
                </div>

                <div>
                  <div id="investigation" class="underline">Investigation</div>
                  <input id="investigationCheck" type="checkbox">
                  <input id="investigationInput" type="number">
                </div>

                <div>
                  <div id="medicine" class="underline">Medicine</div>
                  <input id="medicineCheck" type="checkbox">
                  <input id="medicineInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="nature" class="underline">Nature</div>
                  <input id="natureCheck" type="checkbox">
                  <input id="natureInput" type="number">
                </div>

                <div>
                  <div id="perception" class="underline">Perception</div>
                  <input id="perceptionCheck" type="checkbox">
                  <input id="perceptionInput" type="number">
                </div>

                <div>
                  <div id="performance" class="underline">Performance</div>
                  <input id="performanceCheck" type="checkbox">
                  <input id="performanceInput" type="number">
                </div>

                <div>
                  <div id="religion" class="underline">Religion</div>
                  <input id="religionCheck" type="checkbox">
                  <input id="religionInput" type="number">
                </div>

                <div>
                  <div id="sleightOfHand" class="underline">Sleight of Hand</div>
                  <input id="sleightOfHandCheck" type="checkbox">
                  <input id="sleightOfHandInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="stealth" class="underline">Stealth</div>
                  <input id="stealthCheck" type="checkbox">
                  <input id="stealthInput" type="number">
                </div>

                <div>
                  <div id="survival" class="underline">Survival</div>
                  <input id="survivalCheck" type="checkbox">
                  <input id="survivalInput" type="number">
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>
      </div>


      <!---  Special input fields for spells, language, equipment, and backstory-->
      <div class="row justify-content-md-center">
        <div class="input-group col col-md-10 low-div">
          <div class="input-group-prepend">
            <span class="input-group-text">Spells input, separate by commas please:</span>
          </div>
          <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="input-group col col-md-10 low-div">
          <div class="input-group-prepend">
            <span class="input-group-text">Special Languages, separate by commas please:</span>
          </div>
          <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="input-group col col-md-10 low-div">
          <div class="input-group-prepend">
            <span class="input-group-text">Equipment Input, separate by commas please:</span>
          </div>
          <textarea id="equipmentInput" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="input-group col col-md-10 low-div">
          <div class="input-group-prepend">
            <span class="input-group-text">Backstory goes here:</span>
          </div>
          <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
      <!-- NEED A FORM SUBMIT BUTTON HERE-->
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-success ">Submit Your Character Data</button>
      </div>
    </div>

    <!------>
    <br>

  </div>



</div> <!-- FORM END-->


<script src="/assets/javascript/calculator.js"></script>
<script src="/assets/javascript/characterView.js"></script>