<link rel=" stylesheet" href="/assets/css/character.css">

<div class="container" id="characterInfo" data-user="<%= user%>" data-char="<%= char %>">
    <%= user %> <%= char %>
    <div class="row header justify-content-center">
        <div class="col col-md-2"></div>
        <div class="col-md-7">
            <img src="/assets/images/logo.png" alt="" class="img-fluid">
        </div>
        <div class="col col-xs-4 col-md-3 text-md-right text-sm-center">
            <ul id="menu" class="list-group">
                <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="dashboard"
                        class="btn text-center btnText">Dashboard</button></li>
                <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="logout"
                        class="btn text-center btnText">Logout</button></li>
            </ul>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row img-div">
        <div class="col col-sm-12 col-md-6 text-center">
            <!-- Image URL to put in pic of character -->
            <img src="/assets/images/default.png" alt="" id="profilePic" class="imgLogo">
        </div>
        <div class="col col-sm-12 col-md-6 text-center sm-low-div">
            <br>
            <h3 id="characterName"></h3>
            <h3>Character Name</h3>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <!--Stat Block area-->
        <div class="col col-md-3">
            <div id="stats" class="col col-md-12">
                <div class="stats-div">
                    <div><span id="strength"></span></div>Strength<div class="circle-div"><span id="strAblMod"></span>
                    </div>
                </div><br>
                <div class="stats-div">
                    <div><span id="dexterity"></span></div>Dexterity<div class="circle-div"><span id="dexAblMod"></span>
                    </div>
                </div><br>
                <div class="stats-div">
                    <div><span id="constitution"></span></div>Constitution<div class="circle-div"><span
                            id="conAblMod"></span></div>
                </div><br>
                <div class="stats-div">
                    <div><span id="intelligence"></span></div>Intelligence<div class="circle-div"><span
                            id="intAblMod"></span></div>
                </div><br>
                <div class="stats-div">
                    <div><span id="wisdom"></span></div>Wisdom<div class="circle-div"><span id="wisAblMod"></span></div>
                </div><br>
                <div class="stats-div">
                    <div><span id="charisma"></span></div>Charisma<div class="circle-div"><span id="charAblMod"></span>
                    </div>
                </div><br>
            </div>

        </div>
        <!--Character Information-->
        <div class="col col-md-8 stats-div">
            <div class="row top-div">
                <div class="col col-md-3">
                    <div><span id="className"></span></div>Class
                </div>
                <div class="col col-md-3">
                    <div><span id="level">0</span></div>Level
                </div>
                <div class="col col-md-3">
                    <div><span id="player"></span></div>Player Name
                </div>
                <div class="col col-md-3">
                    <div><span id="faction"></span></div>Faction
                </div>
            </div>
            <div class="row top-div">
                <div class="col col-md-3">
                    <div><span id="race"></span></div>Race
                </div>
                <div class="col col-md-3">
                    <div><span id="alignment"></span></div>Alignment
                </div>
                <div class="col col-md-3">
                    <div><span id="experience"></span></div>Experience
                </div>
                <div class="col col-md-3">
                    <div><span id="language"></span></div>Languages
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <!-- st stands for Saving Throws, to differentiate this section form the stats -->
                    <br>
                    <h3>Saving Throws</h3>
                    <hr size="3">
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="StrengthSavThrow" class="col-md-1"></div>
                        <div class="col pl-1"> <input type="checkbox" id="strSavThrowPro" disabled> Strength</div>
                    </div>
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="DexeritySavThrow" class="col-md-1"></div>
                        <div class="col pl-1"><input type="checkbox" id="dexSavThrowPro" disabled> Dexterity </div>
                    </div>
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="ConstitutionSavThrow" class="col-md-1"></div>
                        <div class="col pl-1"> <input type="checkbox" id="conSavThrowPro" disabled> Constitution</div>
                    </div>
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="IntelligenceSavThrow" class="col-md-1"></div>
                        <div class="col pl-1"><input type="checkbox" id="intSavThrowPro" disabled> Intelligence </div>
                    </div>
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="WisdomSavThrow" class="col-md-1"></div>
                        <div class="col pl-1"><input type="checkbox" id="wisSavThrowPro" disabled> Wisdom </div>
                    </div>
                    <div class="savthrow row small-low-div text-left ml-3">
                        <div id="CharismaSavThrow" class="col-md-1"></div>
                        <div class="col pl-1"><input type="checkbox" id="charSavThrowPro" disabled> Charisma </div>
                    </div>
                    <br>
                    <div class="col col-md-12">
                        <div class="row m-0 p-2">
                            <div class="small-low-div p-1" id="weaponPro">Weapon Proficiency:
                                <hr class="p-0 m-0">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="row m-0 p-2">
                            <div class="small-low-div p-1" id="armorPro">Armor Proficiency:
                                <hr class="p-0 m-0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-8">
                    <div class="row">
                        <div class="col col-md-12">
                            <br>
                            <h3>Skills</h3><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col col-md-11 mb-3">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <div class="p-1"><input type="checkbox" id="acrobaticsCheck" disabled><span
                                            id="acrobatics" class="skillBorder p-1">0</span><span
                                            id="acrobaticsTitle">Acrobatics</span></div>
                                    <div class="p-1"><input type="checkbox" id="animalHandlingCheck" disabled><span
                                            id="animalHandling" class="skillBorder p-1">0</span><span
                                            id="animalHandlingTitle">Animal Handling</span></div>
                                    <div class="p-1"><input type="checkbox" id="arcanaCheck" disabled><span id="arcana"
                                            class="skillBorder p-1">0</span><span id="arcanaTitle">Arcana</span></div>
                                    <div class="p-1"><input type="checkbox" id="athleticsCheck" disabled><span
                                            id="athletics" class="skillBorder p-1">0</span><span
                                            id="athleticsTitle">Athletics</span></div>
                                    <div class="p-1"><input type="checkbox" id="deceptionCheck" disabled><span
                                            id="deception" class="skillBorder p-1">0</span><span
                                            id="deceptionTitle">Deception</span> </div>
                                    <div class="p-1"><input type="checkbox" id="perceptionCheck" disabled><span
                                            id="perception" class="skillBorder p-1">0</span><span
                                            id="perceptionTitle">Perception</span></div>
                                    <div class="p-1"><input type="checkbox" id="performanceCheck" disabled><span
                                            id="performance" class="skillBorder p-1">0</span><span
                                            id="performanceTitle">Performance</span></div>
                                    <div class="p-1"><input type="checkbox" id="religionCheck" disabled><span
                                            id="religion" class="skillBorder p-1">0</span><span
                                            id="religionTitle">Religion</span></div>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="p-1"><input type="checkbox" id="historyCheck" disabled><span
                                            id="history" class="skillBorder p-1">0</span><span
                                            id="historyTitle">History</span></div>
                                    <div class="p-1"><input type="checkbox" id="insightCheck" disabled><span
                                            id="insight" class="skillBorder p-1">0</span><span
                                            id="insightTitle">Insight</span></div>
                                    <div class="p-1"><input type="checkbox" id="intimidationCheck" disabled><span
                                            id="intimidation" class="skillBorder p-1">0</span><span
                                            id="intimidationTitle">Intimidation</span></div>
                                    <div class="p-1"><input type="checkbox" id="investigationCheck" disabled><span
                                            id="investigation" class="skillBorder p-1">0</span><span
                                            id="investigationTitle">Investigation</span></div>
                                    <div class="p-1"><input type="checkbox" id="medicineCheck" disabled><span
                                            id="medicine" class="skillBorder p-1">0</span><span
                                            id="medicineTitle">Medicine</span></div>
                                    <div class="p-1"><input type="checkbox" id="natureCheck" disabled><span id="nature"
                                            class="skillBorder p-1">0</span><span id="natureTitle">Nature</span></div>
                                    <div class="p-1"><input type="checkbox" id="sleightOfHandCheck" disabled><span
                                            id="sleightOfHand" class="skillBorder p-1">0</span><span
                                            id="sleightOfHandCheckTitle">Sleight of Hand</span></div>
                                    <div class="p-1"><input type="checkbox" id="stealthCheck" disabled><span
                                            id="stealth" class="skillBorder p-1">0</span><span
                                            id="stealthTitle">Stealth</span></div>
                                    <div class="p-1"><input type="checkbox" id="survivalCheck" disabled><span
                                            id="survival" class="skillBorder p-1">0</span><span
                                            id="survivalTitle">Survival</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="top-div">
                                <div id="proficiencyBonus"></div>
                                Proficiency Bonus
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="top-div">
                                <div id="inspiration"></div>
                                Inspiration
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-12">
                        <div class="row">
                            <div class="col col-md-4 mid-div">
                                <div id="armor"> </div>Armor Class
                            </div>
                            <div class="col col-md-4 mid-div">
                                <div id="initiative"></div>Initiative
                            </div>
                            <div class="col col-md-4 mid-div">
                                <div id="speed"></div>Speed
                            </div>
                        </div>
                        <div class="row top-div">
                            <div class="col-md-6">Hit Points: <span id="hitPoints"></span></div>
                            <div class="col-md-6">Hit Die: <span id="hitDice">1d</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12 sm-low-div">
                            <div class="row p-1 m-1">
                                <div id="wealth">Wealth: </div>
                            </div>
                            <div class="row p-1 m-1">
                                <div class="col-md-2">
                                    <div class="row">Gold</div>
                                    <div class="row" id="gold">Money</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">Copper</div>
                                    <div class="row" id="copper">Money</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">Electrum</div>
                                    <div class="row" id="electrum">Money</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">Silver</div>
                                    <div class="row" id="silver">Money</div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">Platinum</div>
                                    <div class="row" id="platinum">Money</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 low-div">
                            <div>Equipment:<br> <span id="equipment"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 low-div">
                            <div>Spells: <br><span id="spells"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12 low-div">
                            <div>BackStory:<br> <span id="backstory"></span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="./assets/javascript/characterView.js"></script>