<link rel=" stylesheet" href="/assets/css/character.css">

<div data-user="<%=user%>" id="userInfo"></div>
<!--Keep the data-user in this container need for suppling database-->

<div class="container">
  <!--Header -->
  <div class=" row header justify-content-center">
      <div class="col col-md-2"></div>
      <div class="col-md-7">
          <img src="/assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="col col-md-3 text-md-right text-sm-center">
          <ul id="menu" class="list-group">
              <li class="list-group-item button-stone mt-2 mb-1 pl-0 pr-0 ml-0 text-center"><button type="submit" id="dashboard"
                      class="btn btnText">Dashboard</button></li>
              <li class="list-group-item button-stone mt-2 mb-1 text-center"><button type="submit" id="logout"
                      class="btn text-center btnText">Logout</button></li>
          </ul>
      </div>
  </div>

  <!--- Form Group for Character Name -->
  <div class="row stats-div">
    <form id="characterAddMasterForm">
      <div class="form-group">
        <!--#####################Character Name Start#####################-->
        <div class="form-group row  top-div p-2">
          <div class="col-md-2"> </div>
          <div class="col col-sm-6 col-md-2">
            <img src="/assets/images/default.png" alt="" class="imgLogo">
          </div>
          <div class="col col-sm-6 col-md-6 text-center align-middle">
            <h3>Character Name</h3>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Input Name</span>
              </div>
              <textarea id="characterNameInput" class="form-control" aria-label="With textarea"></textarea>
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" id="randomNameBtn">Randomize</button>
              </div>
            </div>
          </div>
        </div>
        <!--#####################Character Information Start#####################-->
        <div class="form-group row top-div p-2" >
          <div class="col col-md-9 ">
            <div class="row">
              <div class="col col-md-3">
                <div><span id="className"></span></div>Class
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="classSelect">Classes</label>
                </div>
                <select class="custom-select" id="classSelect">
                  <option selected>Choose...</option>
                  <!-- ["Barbarian","Bard","Cleric","Druid","Fighter","Monk","Paladin","Ranger","Rogue","Sorcerer","Warlock","Wizard"] -->
                  <option value="Barbarian">Barbarian</option>
                  <option value="Bard">Bard</option>
                  <option value="Cleric">Cleric</option>
                  <option value="Druid">Druid</option>
                  <option value="Fighter">Fighter</option>
                  <option value="Monk">Monk</option>
                  <option value="Paladin">Paladin</option>
                  <option value="Ranger">Ranger</option>
                  <option value="Rogue">Rogue</option>
                  <option value="Sorcerer">Sorcerer</option>
                  <option value="Warlock">Warlock</option>
                  <option value="Wizard">Wizard</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-3">
                <div><span id="race"></span></div>Race
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="raceSelect">Races</label>
                </div>
                <select class="custom-select" id="raceSelect">
                  <option selected>Choose...</option>
                  <!-- ["Dwarf","Elf","Halfling","Human","Dragonborn","Gnome","Half-Elf","Half-Orc","Tiefling"] -->
                  <option value="Dragonborn">Dragonborn</option>
                  <option value="Dwarf">Dwarf</option>
                  <option value="Elf">Elf</option>
                  <option value="Gnome">Gnome</option>
                  <option value="Halfling">Halfling</option>
                  <option value="Half-Elf">Half-Elf</option>
                  <option value="Half-Orc">Half-Orc</option>
                  <option value="Human">Human</option>
                  <option value="Tiefling">Tiefling</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-3">
                <div><span id="alignment"></span></div>Alignment
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="alignmentSelect">Options</label>
                </div>
                <select class="custom-select" id="alignmentSelect">
                  <option selected>Choose...</option>
                  <!-- ["Lawful Good","Neutral Good","Chaotic Good","Lawful Neutral","Neutral","Chaotic Neutral","Lawful Evil","Neutral Evil","Chaotic Evil"] -->
                  <option value="Lawful-Good">Lawful-Good</option>
                  <option value="Neutral-Good">Neutral-Good</option>
                  <option value="Chaotic-Good">Chaotic-Good</option>
                  <option value="Lawful-Neutral">Lawful-Neutral</option>
                  <option value="Neutral">Neutral</option>
                  <option value="Chaotic-Neutral">Chaotic-Neutral</option>
                  <option value="Lawful-Evil">Lawful-Evil</option>
                  <option value="Neutral-Evil">Neutral-Evil</option>
                  <option value="Chaotic-Evil">Chaotic-Evil</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6">
                <div class="row">
                  Faction:
                </div>
                <div class="row">
                  <input id="factionInput" type="text">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="row">
                  Experience:
                </div>
                <div class="row">
                  <input id="experienceInput" type="text">
                </div>
              </div>
            </div>
          </div>
          <!--#####################-Money and Gold-#####################-->
          <div class="col col-md-3">
            <div class="row">
              Wealth
            </div>
            <div class="row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label for="copperInput" class="input-group-text">Copper </label>
                  <input id="copperInput" class="form-control" aria-label="With textarea"></input>
                </div>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="silverInput">Silver </label>
                  <input id="silverInput" class="form-control" aria-label="With textarea"></input>
                </div>
                <div class="input-group-prepend">
                  <label for="ElectrumInput" class="input-group-text">Electrum </label>
                  <input id="ElectrumInput" class="form-control" aria-label="With textarea"></input>
                </div>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="GoldInput">Gold </label>
                  <input id="GoldInput" class="form-control" aria-label="With textarea"></input>
                </div>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="PlatinumInput">Platinum </label>
                  <input id="PlatinumInput" class="form-control" aria-label="With textarea"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--#####################-Ability Section-#####################-->
        <div class="form-group row top-div pb-2">
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-5 m-0 p-0 text-right">
                Strength <button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" id="strRollmod" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" id="strRollResult" class="form-control input-sm">
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-5 m-0 p-0 text-right">
                Dexterity<button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-6 m-0 p-0 text-right">
                Constitution<button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row top-div pb-2">
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-5 m-0 p-0 text-right">
                Intelligence<button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-5 m-0 p-0 text-right">
                Wisdom<button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="row">
              <div class="col-md-5"> </div>
              <div class="col-md-2">Ability</div>
              <div class="col-md-2">Mod</div>
              <div class="col-md-2">Total</div>
            </div>
            <div class="row">
              <div class="col-md-5 m-0 p-0 text-right">
                Charisma<button id="statRoll"><i class="fas fa-dice"></i></button>
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
              <div class="col-md-2 m-0 p-0">
                <input type="number" class="form-control input-sm">
              </div>
            </div>
          </div>
        </div>

        <!--##################### Skills Section #####################-->
        <div class="form-group row top-div p-2">
          <!--Head-->
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row">
              <div class="col col-md-12">
                <br>
                <h3>Skills</h3><br>
              </div>
            </div>
            <!--Skills-->
            <div class="row">
              <div class="col col-md-6">
                <div>
                  <div id="acrobatics" class="underline">Acrobatics</div>
                  <input id="acrobaticsCheck" type="checkbox">
                  <input id="acrobaticsInput" type="number">
                </div>

                <div>
                  <div id="animalHandling" class="underline">Animal Handling</div>
                  <input id="animalHandlingCheck" type="checkbox">
                  <input id="animalHInput" type="number">
                </div>

                <div>
                  <div id="arcana" class="underline">Arcana</div>
                  <input id="arcanaCheck" type="checkbox">
                  <input id="arcanaInput" type="number">
                </div>

                <div>
                  <div id="athletics" class="underline">Athletics</div>
                  <input id="athleticsCheck" type="checkbox">
                  <input id="athleticsInput" type="number">
                </div>

                <div>
                  <div id="deception" class="underline">Deception</div>
                  <input id="deceptionCheck" type="checkbox">
                  <input id="deceptionInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="history" class="underline">History</div>
                  <input id="historyCheck" type="checkbox">
                  <input id="historyInput" type="number">
                </div>

                <div>
                  <div id="insight" class="underline">Insight</div>
                  <input id="insightCheck" type="checkbox">
                  <input id="insightInput" type="number">
                </div>

                <div>
                  <div id="intimidation" class="underline">Intimidation</div>
                  <input id="intimidationCheck" type="checkbox">
                  <input id="intimidationInput" type="number">
                </div>

                <div>
                  <div id="investigation" class="underline">Investigation</div>
                  <input id="investigationCheck" type="checkbox">
                  <input id="investigationInput" type="number">
                </div>

                <div>
                  <div id="medicine" class="underline">Medicine</div>
                  <input id="medicineCheck" type="checkbox">
                  <input id="medicineInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="nature" class="underline">Nature</div>
                  <input id="natureCheck" type="checkbox">
                  <input id="natureInput" type="number">
                </div>

                <div>
                  <div id="perception" class="underline">Perception</div>
                  <input id="perceptionCheck" type="checkbox">
                  <input id="perceptionInput" type="number">
                </div>

                <div>
                  <div id="performance" class="underline">Performance</div>
                  <input id="performanceCheck" type="checkbox">
                  <input id="performanceInput" type="number">
                </div>

                <div>
                  <div id="religion" class="underline">Religion</div>
                  <input id="religionCheck" type="checkbox">
                  <input id="religionInput" type="number">
                </div>

                <div>
                  <div id="sleightOfHand" class="underline">Sleight of Hand</div>
                  <input id="sleightOfHandCheck" type="checkbox">
                  <input id="sleightOfHandInput" type="number">
                </div>

                <br>
              </div>
              <div class="col col-md-6">
                <div>
                  <div id="stealth" class="underline">Stealth</div>
                  <input id="stealthCheck" type="checkbox">
                  <input id="stealthInput" type="number">
                </div>

                <div>
                  <div id="survival" class="underline">Survival</div>
                  <input id="survivalCheck" type="checkbox">
                  <input id="survivalInput" type="number">
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>


        <!---  Special input fields for spells, language, equipment, and backstory-->
        <div class="form-group row top-div p-2">
          <div class="col-md-2"></div>
          <div class="input-group col col-md-8">
            <div class="form-group row">
              <label class="input-group-text">Spells input, separate by commas please:</label>
              <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="form-group row">
              <label class="input-group-text">Special Languages, separate by commas please:</label>
              <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="form-group row">
              <label class="input-group-text">Equipment Input, separate by commas please:</label>
              <textarea id="equipmentInput" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="form-group row">
              <label class="input-group-text">Backstory goes here:</label>
              <textarea id="backstoryInput" class="form-control" aria-label="With textarea"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group row p-2">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="button-stone p-2 btnText">Submit Your Character Data</button>
          </div>
          <div class="col-md-4"></div>

        </div>
      </div>
    </form>
  </div>
</div>



<script src="/assets/javascript/calculator.js"></script>
<script src="/assets/javascript/characterView.js"></script>