<link rel=" stylesheet" href="/assets/css/character.css">

<div class="container" id="character" data-charcterId="<%= id %>" data-characterName="<%=name =%>"" >
    <div class="row header justify-content-center">
        <div class="jumbotron headline-jumbo p-4 m-3">
            <h1 class="headline text-center">VALHALLA</h1>
        </div>
    </div>

    <div class="container">

        <div class="row text-center">
            <div class="col col-md-3">
                <div id="stats" class="col col-md-12">
                    <div class="stats-div">
                        <div id="strength">number</div>Stength
                    </div><br>
                    <div class="stats-div">
                        <div id="dexterity">number</div>Dexterity
                    </div><br>
                    <div class="stats-div">
                        <div id="constitution">number</div>Constitution
                    </div><br>
                    <div class="stats-div">
                        <div id="intelligence">number</div>Intelligence
                    </div><br>
                    <div class="stats-div">
                        <div id="wisdom">number</div>Wisdom
                    </div><br>
                    <div class="stats-div">
                        <div id="charisma">number</div>Charisma
                    </div><br>
                </div>
            </div>
            <div class="col col-md-8 stats-div">
                <div class="row top-div">
                    <div class="col col-md-3">
                        <div id="class">number</div>Class
                    </div>
                    <div class="col col-md-3">
                        <div id="background">number</div>Background
                    </div>
                    <div class="col col-md-3">
                        <div id="player">number</div>Player Name
                    </div>
                    <div class="col col-md-3">
                        <div id="faction">number</div>Faction
                    </div>
                </div>
                <div class="row top-div">
                    <div class="col col-md-3">
                        <div id="race">number</div>Race
                    </div>
                    <div class="col col-md-3">
                        <div id="">number</div>Alignment
                    </div>
                    <div class="col col-md-3">
                        <div id="experience">number</div>Experience
                    </div>
                    <div class="col col-md-3">
                        <div id="dci">number</div>DCI Number
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3">
                        <div class="top-div">
                            Inspiration
                        </div>
                        <br>
                        <div class="top-div">
                            Proficiency Bonus
                        </div>
                        <div id="proficiencyBonus">number</div>

                        <br>

                        <div>
                            <div>Strength</div>
                            <div>Dexterity</div>
                            <div>Constitution</div>
                            <div>Intelligenze</div>
                            <div>Wisdom</div>
                            <div>Charisma</div>
                            <h5>Saving Throws</h5>
                        </div>
                        <br>
                        <div>
                            <div>Acrobatics</div>
                            <div>Animal Handling</div>
                            <div>Arcana</div>
                            <div>Athletics</div>
                            <div>Deception</div>
                            <div>History</div>
                            <div>Insight</div>
                            <div>Intimidation</div>
                            <div>Investigation</div>
                            <div>Medicine</div>
                            <div>Nature</div>
                            <div>Perception</div>
                            <div>Performance</div>
                            <div>Religigion</div>
                            <div>Sleight of Hand</div>
                            <div>Stealth</div>
                            <div>Survival</div>
                            <h5>Skills</h5>
                        </div>
                    </div>
                    <div class="col col-md-9">
                        <div class="row">
                            <div class="col col-md-4 mid-div">
                                <div id="armor">value</div>Armor Class
                            </div>
                            <div class="col col-md-4 mid-div">
                                <div id="initiative">value</div>Initiative
                            </div>
                            <div class="col col-md-4 mid-div">
                                <div id="speed">value</div>Speed
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12 low-div">Hit Points</div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12 low-div">Hit Dice</div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
<script src="/assets/javascript/characterView.js"></script>