<div class="container" data-user="<%=user%>"><!--Keep the data-user in this container need for suppling database-->
    <div class="row header justify-content-center">
        <img src="/assets/images/logo.png" class="logo">
    </div>
    <div class="row">
      <div class="col">
        Hello World! Add Character File!
      </div>
    </div>
</div>


