 <div class="container">
        <div class="row header justify-content-center">
            <div class="jumbotron headline-jumbo p-4 m-3">
                <h1 class="text headline text-center">VALHALLA</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="jumbotron m-4 login-jumbo">
                <h3 class="text-center">Login</h3>
                <br>
                <form id="loginForm" action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input id="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input id="password" type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary button-stone" id="login">Submit</button>
                    <br><br>
                </form>
                No account yet?<br>
                <a class="text-white btn btn-primary button-stone" href="/users/register">Register</a>
            </div>
        </div>
    </div>