<div class="container">
    <div class="row header justify-content-center">
        <div class="col-md-8 col-sm-12">
            <img src="/assets/images/logo.png" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 p-3">
            <div class="p-4 login-jumbo">
                <h3 class="text-center">Login</h3>
                <br>
                <% include ./partials/messages %>
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter Password" />
                    </div>
                    <button type="submit" class="btn btn-primary button-stone btnText">Login</button>
                </form>
                <div class="sm-low-div col-md-3">No account yet? </div><div class="col-md-8">ddasd</div>
                <a class="text-white btn btn-primary button-stone btnText" href="/users/register">Register</a>
            </div>
        </div>
    </div>
</div>