<div class="opener"></div>
<div class="container text-center">
  <h1 class="backLogo">Critical Code</h1>
</div>


<script>
    $("body").css("background", "none");
    $(".opener").addClass("animated fadeOut delay-2s");
    setTimeout(function () {
        window.location.href = "/users/login";
    }, 3500)
</script>
