<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link btnText button-stone mr-2" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btnText button-stone" href="#">Logout</a>
    </li>
  </ul>
