<div class="opener">
</div>

<h1 class="backLogo">Critical Code</h1>

<script>
    $("body").css("background", "none");
    $(".opener").addClass("animated fadeOut delay-2s");
    setTimeout(function () {
        window.location.href = "/users/login";
    }, 3500)
</script>
=======
>>>>>>> 9b819490e45d012ee7721ddd101581e8ea1beae4