<div class="opener"></div>
<div class="container text-center">
  <img src="/assets/images/CriticalCodeLogo.png" style="width:600px" alt="">
</div>


<script>
    $("body").css("background", "none");
    $(".opener").addClass("animated fadeOut delay-2s");
    setTimeout(function () {
        window.location.href = "/users/login";
    }, 3500)
</script>
