.headline-jumbo {
    background-color: goldenrod;
    background: url("../../assets/images/copper.jpg") !important;
}

.stats-div,
.img-div {
    background: url("../../assets/images/paper.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* overflow: hidden; */
    font-family: 'Marcellus SC', serif !important;
    font-size: 1.2rem !important;
    color: rgb(8, 17, 29) !important;
    border: 3px outset rgba(91, 36, 23, 0.66);
    border-radius: 21px 21px 21px 21px;
    max-width: 100%;
    padding: 1rem;
}

.img-div {
    max-width: unset;
}

.top-div {
    background-color: beige;
    max-width: 100%;
    margin: auto 0;
    border-radius: 10px;
    border: 3px solid rgba(91, 36, 23, 0.66);
    margin-bottom: 5px;
}

.mid-div {
    background-color: beige;
    max-width: 100%;
    margin: auto 0;
    border-radius: 10px;
    border: 3px solid rgba(91, 36, 23, 0.66);
    margin-bottom: 5px;
}
#weaponSpan, #armorSpan{
    font-size:1rem;
}
.low-div {
    background-color: beige;
    max-width: 100%;
    margin: auto 0;
    border-radius: 10px;
    border: 3px solid rgba(91, 36, 23, 0.66);
    margin-bottom: 5px;
    height: 200px;
    vertical-align: bottom;
}
.small-low-div {
    background-color: beige;
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(91, 36, 23, 0.66);
    vertical-align: bottom;
}

.circle-div {
    background-color: beige;
    border-radius: 60%;
    margin-top: 10px;
}

.underline {
    text-decoration: underline;
}
button.btnText{
    color: white;
    font-size: 1.5rem;
}
div.btn:hover {
    transform: translateY(-7px);
    width: 65%;
    cursor: pointer;
}
ul#menu {
    list-style: none;
    display:flex;
    flex-direction: row;
    
    padding-left: 0;
    
}
img.imgLogo{
    max-width: 150px;
}
.savthrow img{
    max-width: 20px;
}
.button-stone {
    background: url("../../assets/images/stone.jpg") !important;
    border: none;
}

.button-character {
    background: url("../../assets/images/wood.jpg") !important;
    border: none;
    width: 60%;
    height: 3.5rem;
    transition: all 0.3s ease 0s;
    font-size: 1.3rem;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
    color: rgb(43, 4, 3);
    font-family: 'Metamorphous', cursive;
    font-size: 3rem !important;
    width: max-content;
}


/* font-family: 'Marcellus SC', serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Metamorphous', cursive; */